// Colors
$primary-color: #015170;
$secondary-color: #00384F;
$accent-color: #6EB528;
$dark-color: #222222;
$grey-color: #454545;

// Typography
$base-font-size: 10px;
$base-line-height: 1.6;
$heading-font-family: 'Dm Sans', sans-serif;
$heading-line-height: 1.2;
$h1-font-size: 4.4rem;
$h1-font-size-desktop: 7.2rem;
$h2-font-size: 2.4rem;
$h2-font-size-desktop: 3.2rem;
$h3-font-size: 2.2rem;
$h3-font-size-desktop: 2.8rem;
$h4-font-size: 2rem;
$h4-font-size-desktop: 2rem;
$h5-font-size: 2rem;
$h6-font-size: 2rem;


$p-line-height: 1.4;
$p-font-size: 1.6rem;
$p-font-family: 'DM Sans', sans-serif;
