@import '/src/assets/mixins/breakpoints';
@import '/src/assets/mixins/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  width: 100%;
}

body {
  background-color: #FFF;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
}

h1 {
  font-size: $h1-font-size;
  @include tabletAndDesktop {
    font-size: $h1-font-size-desktop;
  }
}

h2 {
  font-size: $h2-font-size;
  @include tabletAndDesktop {
    font-size: $h2-font-size-desktop;
  }
}

h3 {
  font-size: $h3-font-size;
  @include tabletAndDesktop {
    font-size: $h3-font-size-desktop;
  }
}

h4, h5, h6 {
  font-size: $h4-font-size;
  @include tabletAndDesktop {
    font-size: $h4-font-size-desktop;
  }
}

p, span {
  font-size: $p-font-size;
  line-height: $p-line-height;
}

p, span, div, li, a, input, textarea, button {
  font-family: $p-font-family;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit
}